.text {
	text-align:  center;
}
.display {
	display:block;
}
.hidden {
	display: none;
}

.align_center
{
	position: relative;
	right: -15%;
	margin-bottom: 15px;
}
.filters {
	text-align:  center;
	margin-top: 25px;
}

.scrollTable {
  margin-top: 15px;	
  margin-bottom: 15px;
  max-height: 300px;
  overflow: auto;

}


.mainBar{
	padding-top: 1%;
	float: left;
	width: 50%;
	outline: 2px solid #000;
	height: 500px;
	min-width: 500px;
	margin-left: 10%;
	margin-top: 50px;
}
.sideBar {
	padding-top: 1%;
	width: 25%;
	outline: 2px solid #000;
	margin-left: 61%;
	height: 500px;
	margin-top: 50px;
}
.sideBar h3 {
	padding-left: 5%;
}