<div ng-controller='mainBarController'>
{{test}}
	<h2>Add new Person</h2>
	<input type="text" placeholder="Enter name" ng-model="person.name">
	<label><input type="checkbox" ng-model="person.superPower">Super Power</label>
	<label><input type="checkbox" ng-model="person.rich">Rich</label>
	<label><input type="checkbox" ng-model="person.genious">Genious</label>
	<button class="add-name" ng-click="addPerson()"> Add </button>

	<table class="table table-bordered">
  		<tr>
  			<th>Name</th>
  			<th>SuperPower</th>
  			<th>Rich</th>
  			<th>Genious</th>
  			<th>Delete</th>
  		</tr>
  		<tr class="active" ng-repeat="OnePerson in persons">
			<td>{{OnePerson.name}}</td>
			<td ng-if="OnePerson.superPower"><span class="glyphicon glyphicon-ok"></span></td>
			<td ng-if="!OnePerson.superPower"><span></span></td>

			<td>{{OnePerson.rich}}</td>
			<td>{{OnePerson.genious}}</td>
			<td><span class="glyphicon glyphicon-remove" ng-click="deletePerson($index)"></span></td>
  		</tr>
	</table>
</div>

